.navbarContainer {
  display: flex;
  position: sticky;
  z-index: 10;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(235, 237, 240);
  box-shadow: rgb(0 0 0 / 5%) 0px 4px 12px;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10vw;
  height: 52px;
}


.navLogo {
  max-width: 75px;
  max-height: 75px;
}

.navbarLeftContainer {
  margin-top: 5px;
}

.navbarRightContainer {
  height: 100%;
}

.navButtons {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
  padding: 0px 16px;
  font-size: 12px;
  color: rgb(129, 142, 153);
  height: inherit;
  transition: .3s;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.usernameButton {
  border-left: 1px solid rgb(235, 237, 240);
  border-right: 1px solid rgb(235, 237, 240);
}

.navButtons:hover {
  border-bottom: 1px solid rgb(0,206,134);
  color: rgb(0,206,134);
}

.userLink:hover {
  border-bottom: 1px solid rgb(0,206,134);
  color: rgb(0,206,134);
}